HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Secrets & Private Config ###
src/main/resources/application-local.properties
src/main/resources/application-local.yml
src/main/resources/application-secret.properties
src/main/resources/application-secret.yml
src/main/resources/application.properties
!src/main/resources/application.properties.example
.env
.env.*
!.env.example

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
